		
<div class="page-header">
	<h1><span class="glyphicon glyphicon-edit"></span> {'Info'|lang}</h1>
	<p>{'Here you can edit info page'|lang}</p>
</div>

<a href="?module=info_page" title="{'Add info page'|lang}" class="btn btn-success">{'Add info page'|lang}</a>
<br><br>
{if isset($info)}
	<table class="table parent_select_checkbox table-striped table-bordered table-condensed">
		<tr>
			<th>{'Title'|lang}</th>
			<th class="text-center">{'Edit'|lang}</th>
			<th class="text-center">{'Remove'|lang}</th>
		</tr>
			
		{foreach key=key item=item from=$info name=info}
			<tr>
				<td><a href="../{$links.info}/{$item.id},{$item.slug}" title="{$item.name}" target="_blank">{$item.name}</a></td>
				<td class="text-center"><a href="?module=info_page&id={$item.id}" title="{'Edit info page'|lang}" class="glyphicon glyphicon-edit"></a></td>
				<td class="text-center">{if !$item.page}<a href="#" title="{'Delete info page'|lang}" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#remove_{$item.id}"></a>{/if}</td>		
			</tr>

			<div class="modal fade" id="remove_{$item.id}" tabindex="-1" role="dialog" aria-labelledby="{'Delete info page'|lang}: {$item.name}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{'Delete info page'|lang}</h4>
							</div>
							<form method="post">
								<input type="hidden" name="action" value="remove_info">
								<input type="hidden" name="id" value="{$item.id}">
								<div class="modal-body">
									<p>{'Are you sure you want to delete info page'|lang}: "{$item.name}"?</p>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="{'Cancel'|lang}">
									<input type="submit" class="btn btn-danger" value="{'Execute'|lang}">
								</div>
							</form>
						</div>
					</div>
				</div>

		{/foreach}		
	</table>
	
{else}
	<h4 class="text-danger">{'Nothing found'|lang}</h4>
{/if}


