
<div class="page-header">
	<h1><span class="glyphicon glyphicon-edit"></span> {if isset($info_page)}{'Edit info page'|lang}: {$info_page.name}{else}{'Add info page'|lang}{/if}</h1>
	<p>{'Here you can edit info page'|lang}</p>
</div>

<form role="form" class="form-horizontal" method="post">
	{if isset($info_page)}
		<input type="hidden" name="action" value="edit_info">
		<input type="hidden" name="id" value="{$info_page.id}">
	{else}
		<input type="hidden" name="action" value="add_info">
	{/if}
	<div class="form-group">
		<label for="title">{'Title'|lang}</label>
		<input type="text" name="name" placeholder="{'Title'|lang}" title="{'Here enter title'|lang}" maxlength="64" {if isset($info_page)}value="{$info_page.name}"{/if} required autofocus class="form-control">
	</div>
	<div class="form-group">
		<label for="content">{'Content'|lang}</label>
		<textarea name="content" placeholder="{'Content'|lang}" title="{'Content'|lang}" class="form-control">{if isset($info_page)}{$info_page.content}{/if}</textarea>
		<script>
			run_ckeditor('content',300);
		</script>
	</div>
	<div class="form-group">
		<label for="keywords">{'Keywords SEO'|lang}</label>
		<textarea name="keywords" title="{'Keywords SEO'|lang}" placeholder="{'Keywords SEO'|lang}" maxlength="512" class="form-control">{if isset($info_page)}{$info_page.keywords}{/if}</textarea>
	</div>
	<div class="form-group">
		<label for="description">{'Description SEO'|lang}</label>
		<textarea name="description" title="{'Description SEO'|lang}" placeholder="{'Description SEO'|lang}" maxlength="512" class="form-control">{if isset($info_page)}{$info_page.description}{/if}</textarea>
	</div>
	<div class="form-group">
		<input type="submit" value="{'SAVE!'|lang}" class="btn btn-primary">
	</div>
	<div class="form-group">
		<br><p><a href="?module=info" title="{'Back to the list of info pages'|lang}">{'Back to the list of info pages'|lang}</a></p>
	</div>
</form>

