
<div class="page-header">
	<h1><span class="glyphicon glyphicon-hdd"></span> {'Reset password'|lang}</h1>
	<p>{'Here you can see logs reset password'|lang}</p>
</div>

{if isset($reset_password)}
	<div class="table-responsive">
		<table class="table parent_select_checkbox table-striped table-bordered table-condensed">
			<tr>
				<th></th>
				<th>{'User'|lang}</th>
				<th class="text-center">{'Used'|lang}
					<a href="?{$pagination.page_url.sort_cms}&sort=used" title="{'Sort by used'|lang}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{$pagination.page_url.sort_cms}&sort=used&sort_desc" title="{'Sort descending by used'|lang}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{'Active'|lang}
					<a href="?{$pagination.page_url.sort_cms}&sort=active" title="{'Sort by active'|lang}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{$pagination.page_url.sort_cms}&sort=active&sort_desc" title="{'Sort descending by active'|lang}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th>{'Code'|lang}
					<a href="?{$pagination.page_url.sort_cms}&sort=code" title="{'Sort by code'|lang}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{$pagination.page_url.sort_cms}&sort=code&sort_desc" title="{'Sort descending by code'|lang}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center" style="width:95px">{'Date'|lang}
					<a href="?{$pagination.page_url.sort_cms}&sort=date" title="{'Sort by date'|lang}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{$pagination.page_url.sort_cms}&sort=date&sort_desc" title="{'Sort descending by date'|lang}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
			</tr>
			{foreach key=key item=item from=$reset_password name=reset_password}
				<tr>
					<td class="text-center">{$smarty.foreach.reset_password.iteration+$pagination.limit_start}</td>
					<td><a href="../{$links.profile}/{$item.user.username}" title="{'Profile of'|lang}: {$item.user.username}" target="_blank">{$item.user.username}</a> - {if $smarty.const._CMS_TEST_MODE_}TEST{else}<a href="mailto:{$item.user.email}" title="{'Write to:'|lang} {$item.user.email}">{$item.user.email}</a>{/if}</td>
					<td class="text-center">{if $item.used}<b>{'YES'|lang}</b>{else}{'NO'|lang}{/if}</td>
					<td class="text-center">{if $item.active}<b>{'YES'|lang}</b>{else}{'NO'|lang}{/if}</td>
					<td>{$item.code}</td>
					<td class="text-center"><b>{$item.date|date_format:"%d-%m-%Y"}</b><br>{$item.date|date_format:"%H:%M"}</td>
				</tr>
			{/foreach}		
		</table>
	</div>
	
	{include file="pagination.tpl"}
	
{else}
	<h4 class="text-danger">{'Nothing found'|lang}</h4>
{/if}


