
<div class="page-header">
	<h1><span class="glyphicon glyphicon-asterisk"></span> {'General settings'|lang}</h1>
	<p>{'Here you can edit the settings of the service'|lang}</p>
	<p class="text-danger">{'Warning! Certain changes can cause problems with your site!'|lang}</p>
</div>

<form method="post" class="form-horizontal" role="form">
	<input type="hidden" name="action" value="save_settings">
	<div class="form-group">
		<label for="base_url" class="col-sm-3 control-label">{'Base URL'|lang}:</label>
		<div class="col-sm-9">
			<input type="text" name="base_url" placeholder="http://example.com" title="{'Enter the url of the site'|lang}" required value="{$settings.base_url}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-3 control-label">{'E-mail Administrator'|lang}:</label>
		<div class="col-sm-9">
			<input type="email" name="email" placeholder="example@example.com" title="{'Enter e-mail the site administrator'|lang}" required value="{$settings.email}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="lang" class="col-sm-3 control-label">{'Website language'|lang}:</label>
		<div class="col-sm-9">
			<select name="lang" title="{'Website language'|lang}"  class="form-control">
			{foreach from=$list_of_lang item=item key=key}
				<option value="{$item}" {if $item==$settings.lang}selected{/if}>{$item}</option>
			{/foreach}
		</select>
		</div>
	</div>
	<div class="form-group">
		<label for="title" class="col-sm-3 control-label">{'Page title'|lang}:</label>
		<div class="col-sm-9">
			<input type="text" name="title" placeholder="..." title="{'Page title'|lang}" required value="{$settings.title}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="keywords" class="col-sm-3 control-label">{'Keywords SEO'|lang}:</label>
		<div class="col-sm-9">
			 <input type="text" name="keywords" title="{'Keywords SEO'|lang}" value="{$settings.keywords}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-3 control-label">{'Description SEO'|lang}:</label>
		<div class="col-sm-9">
			<textarea name="description" title="{'Description SEO'|lang}" class="form-control">{$settings.description}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="analytics" class="col-sm-3 control-label">{'Google Analytics code'|lang}:</label>
		<div class="col-sm-9">
			<textarea name="analytics" title="{'Google Analytics code'|lang}" class="form-control">{$settings.analytics}</textarea>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="add_offers_not_logged" title="{'Allow adding offers by not logged'|lang}" {if $settings.add_offers_not_logged}checked{/if}> {'Allow adding offers by not logged'|lang}</label><br>
			<label><input type="checkbox" name="automatically_activate_offers" title="{'Automatically activate added offers'|lang}" {if $settings.automatically_activate_offers}checked{/if}> {'Automatically activate added offers'|lang}</label><br>
			<label><input type="checkbox" name="enable_articles" title="{'Enable the display of articles'|lang}" {if $settings.enable_articles}checked{/if}> {'Enable the display of articles'|lang}</label><br>
			<label><input type="checkbox" name="rss" title="{'Enable RSS channel'|lang}" {if $settings.rss}checked{/if}> {'Enable RSS channel'|lang}</label><br>
			<label><input type="checkbox" name="generate_sitemap" title="{'Automatically generate a site map (sitemap.xml)'|lang}" {if $settings.generate_sitemap}checked{/if}> {'Automatically generate a site map (sitemap.xml)'|lang}</label><br>
			<label><input type="checkbox" name="check_ip_user" title="{'Check IP user when logging or adding offers'|lang}" {if $settings.check_ip_user}checked{/if}> {'Check IP user when logging or adding offers'|lang}</label>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="google_maps" title="{'Show Google Maps'|lang}" {if $settings.google_maps}checked{/if} class="set_required" data-target="target_google_maps"> {'Show Google Maps'|lang}</label>
		</div>
	</div>
	<div class="form-group">
		<label for="google_maps_api" class="col-sm-3 control-label">{'Google Maps API'|lang}:</label>
		<div class="col-sm-9">
			<input type="text" name="google_maps_api" title="{'Google Maps API'|lang}" value="{if $smarty.const._CMS_TEST_MODE_}test{else}{$settings.google_maps_api}{/if}" class="target_google_maps form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="google_maps_api2" class="col-sm-3 control-label">{'Google Maps API 2 (for "show on the map")'|lang}:</label>
		<div class="col-sm-9">
			<input type="text" name="google_maps_api2" title="{'Google Maps API'|lang}" value="{if $smarty.const._CMS_TEST_MODE_}test{else}{$settings.google_maps_api2}{/if}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="google_maps_lat" class="col-sm-3 control-label">{'Latitude'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="0.000001" min="-90" max="90" name="google_maps_lat" title="{'Latitude'|lang}" value="{$settings.google_maps_lat}" class="target_google_maps form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="google_maps_long" class="col-sm-3 control-label">{'Longitude'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="0.000001" min="-180" max="180" name="google_maps_long" title="{'Longitude'|lang}" value="{$settings.google_maps_long}" class="target_google_maps form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="google_maps_zoom_add" class="col-sm-3 control-label">{'Zoom level (add and edit offer)'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="0" max="19" name="google_maps_zoom_add" title="{'Zoom level (add and edit offer)'|lang}" value="{$settings.google_maps_zoom_add}" class="target_google_maps form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="google_maps_zoom_offer" class="col-sm-3 control-label">{'Zoom level (show offer)'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="0" max="19" name="google_maps_zoom_offer" title="{'Zoom level (show offer)'|lang}" value="{$settings.google_maps_zoom_offer}" class="target_google_maps form-control">
		</div>
	</div>
	<hr>
	<div class="form-group">
		<label for="limit_page" class="col-sm-3 control-label">{'Limit offers per page'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="1" name="limit_page"  title="{'Limit offers per page'|lang}" value="{$settings.limit_page}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="limit_page_index" class="col-sm-3 control-label">{'Limit offers on the home page'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="1" name="limit_page_index" title="{'Limit offers on the home page'|lang}" value="{$settings.limit_page_index}" class="form-control">
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="photo_add" title="{'Allow uploading photos'|lang}" {if $settings.photo_add}checked{/if}> {'Allow uploading photos'|lang}</label>
		</div>
	</div>
	<div class="form-group">
		<label for="photo_max" class="col-sm-3 control-label">{'The maximum number of images (0 - unlimited)'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="0" name="photo_max" title="{'The maximum number of images (0 - unlimited)'|lang}" value="{$settings.photo_max}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="photo_max_size" class="col-sm-3 control-label">{'The maximum size of photo in kB (0 - unlimited)'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="0" name="photo_max_size" title="{'The maximum size of photo in kB (0 - unlimited)'|lang}" value="{$settings.photo_max_size}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="photo_max_height" class="col-sm-3 control-label">{'Maximum height of pictures in px (0 - unlimited)'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="0" name="photo_max_height" title="{'Maximum height of pictures in px (0 - unlimited)'|lang}" value="{$settings.photo_max_height}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="photo_max_width" class="col-sm-3 control-label">{'Maximum width of pictures in px (0 - unlimited)'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="0" name="photo_max_width" title="{'Maximum width of pictures in px (0 - unlimited)'|lang}" value="{$settings.photo_max_width}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="photo_quality" class="col-sm-3 control-label">{'Picture JPG quality (scale 0 - 100)'|lang}:</label>
		<div class="col-sm-9">
			<input type="number" step="1" min="0" max="100" name="photo_quality" title="{'Picture JPG quality (scale 0 - 100)'|lang}" value="{$settings.photo_quality}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="watermark_add" title="{'Add a watermark to photos'|lang}" {if $settings.watermark_add}checked{/if}> {'Add a watermark to photos'|lang}</label>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="hide_data_not_logged" title="{'Hide contact information for not logged'|lang}" {if $settings.hide_data_not_logged}checked{/if}> {'Hide contact information for not logged'|lang}</label><br>
			<label><input type="checkbox" name="hide_phone" title="{'Hide phone number'|lang}" {if $settings.hide_phone}checked{/if}> {'Hide phone number'|lang}</label><br>
			<label><input type="checkbox" name="hide_email" title="{'Hide e-mail'|lang}" {if $settings.hide_email}checked{/if}> {'Hide e-mail'|lang}</label><br>
			<label><input type="checkbox" name="hide_views" title="{'Hide the number of views'|lang}" {if $settings.hide_views}checked{/if}> {'Hide the number of views'|lang}</label><br>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="mail_attachment" title="{'Allow to post attachments to e-mails'|lang}" {if $settings.mail_attachment}checked{/if}> {'Allow to post attachments to e-mails'|lang}</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="smtp" title="{'Send emails via SMTP'|lang}" {if $settings.smtp}checked{/if} class="set_required" data-target="target_smtp"> {'Send emails via SMTP'|lang}</label>
		</div>
	</div>
	<div class="form-group">
		<label for="smtp_host" class="col-sm-3 control-label">{'SMTP host'|lang}: </label>
		<div class="col-sm-9">
			<input type="text" name="smtp_host" title="{'SMTP host'|lang}" value="{$settings.smtp_host}" class="target_smtp form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="smtp_mail" class="col-sm-3 control-label">{'SMTP e-mail'|lang}: </label>
		<div class="col-sm-9">
			<input type="email" name="smtp_mail" title="{'SMTP e-mail'|lang}" value="{$settings.smtp_mail}" class="target_smtp form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="smtp_user" class="col-sm-3 control-label">{'SMTP user'|lang}: </label>
		<div class="col-sm-9">
			<input type="text" name="smtp_user" title="{'SMTP user'|lang}" value="{$settings.smtp_user}" class="target_smtp form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="smtp_password" class="col-sm-3 control-label">{'SMTP password'|lang}: </label>
		<div class="col-sm-9">
			<input type="text" name="smtp_password" title="{'SMTP password'|lang}" value="{$settings.smtp_password}" class="target_smtp form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="smtp_password" class="col-sm-3 control-label">{'SMTP port'|lang}: </label>
		<div class="col-sm-9">
			<input type="number" min="0" name="smtp_port" title="{'SMTP port'|lang}" value="{$settings.smtp_port}" class="target_smtp form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="smtp_password" class="col-sm-3 control-label">{'SMTP secure'|lang}: </label>
		<div class="col-sm-9">
			<input type="text" name="smtp_secure" title="{'SMTP secure'|lang}" value="{$settings.smtp_secure}" class="target_smtp form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<input type="submit" value="{'Save'|lang}" class="btn btn-primary">
		</div>
	</div>
</form>

